body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
    text-align: center
}

#main {
    width: 75%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    padding: 50px;
    text-align: center;
}

.region {
    padding: 10px;
    display: inline-block;
    width: 40%;
    border: 1px solid gray;
    border-radius: 5px;
    min-width: 500px;
}

.timingRow {
    padding: 5px;
    margin: 2px;
    width: 100%;
    border: 1px solid black;
}

.timingServer {
    font-size: 125%;
    text-decoration: underline;
}

