body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
    text-align: center
}

.region {
    padding: 10px;
    display: inline-block;
    width: 40%;
    border: 1px solid gray;
    border-radius: 5px;
    min-width: 500px;
}

.timingRow {
    border-radius: 15px;
    background-color: #ddd;
    padding: 5px;
    margin: 2px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}

.timingServer {
    font-size: 125%;
    text-decoration: underline;
    margin-bottom: 7px;
}

.selector {
    padding: 3px;
}

.radiolabel {
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.horse-tier {
    padding: 5px 10px;
}

@media only screen and (max-width: 1000px) {
    #main {
        width: 100%;
        margin: auto;
        border-radius: 5px;
        height: 100%;
        padding: 50px;
        text-align: center;
    }

    .horseRace {
        margin: auto;
        width: 100%;
        border: 1px solid red;
        padding: 3px;
    }
}

@media only screen and (min-width : 1000px) {
    #main {
        width: 75%;
        margin: auto;
        border-radius: 5px;
        height: 100%;
        padding: 50px;
        text-align: center;
    }

    .horseRace {
        margin: auto;
        width: 50%;
        border: 1px solid red;
        padding: 3px;
    }
}